<div id="risk-factors" class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Risk Factors</div>
    <h2>Risk Factors</h2>
    <ul id="risk-factors">
      <% @risk_factors.each do |group_id, risk_factor| %>
        <li class="row" id="group-<%= group_id %>">
          <h3><%= prevent_widows(risk_factor["question"].question_name) %></h3>
          <% if group_id == RACE_GROUP_ID %>
            <div class="medium-12 columns">
              <%= risk_factor["risk_message"].message %>
            </div>
          <% else %>
            <div class="medium-6 columns">
              <% if !risk_factor["higher_risk_message"].nil? %>
                <h4 class="<%= risk_factor["higher_risk_message"].risk_level.risk_level_identifier %>">
                  <%= risk_factor["higher_risk_message"].risk_level.risk_level_name %>
                </h4>
                <%= risk_factor["higher_risk_message"].long_message %>
              <% end %>
            </div>
            <div class="medium-6 columns">
              <% if !risk_factor["lower_risk_message"].nil? %>
                <h4 class="<%= risk_factor["lower_risk_message"].risk_level.risk_level_identifier %>">
                  <%= risk_factor["lower_risk_message"].risk_level.risk_level_name %>
                </h4>
                <%= risk_factor["lower_risk_message"].long_message %>
              <% end %>
            </div>
            
          <% end %>
        
          <div class="medium-12 columns">
            <ul>
              <% risk_factor["resources"].each do |resource| %>
                <li>
                  <%= resource.text %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
    <p>
      <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
    </p>
  </div>
</div>