<div id="risk-factors" class="row">
  <div class="large-12 columns">
    <div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/resources">Resources</a> &rsaquo; Risk Factors</div>
    <h2>Risk Factors</h2>
    <ul id="risk-factors">
      <% @risk_factors.each do |group_id, risk_factor| %>
        <li class="row" id="group-<%= group_id %>">
          <h3><%= prevent_widows(risk_factor["question"].question_topic_name) %></h3>
            <div class="large-12 columns ">
              <%= risk_factor["question"].question_topic_message %>
            </div>
        
          <div class="risk-factor-resources medium-12 columns">
            <ul>
              <% risk_factor["resources"].each do |resource| %>
                <li>
                  <%= resource.text %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
    <p>
      <%= erb :questionnaire_link_partial %>
    </p>
  </div>
</div>