<div class="actions row">
    <div class="large-12 columns">
        <ul class="button-group">
            <li>
                <% if !suppress_back_button  %>
                    <a href="<%= previous_step %>" id="previous-button" class="button small secondary radius">&laquo; Previous</a>
                <% end %>
            </li>
            <li><a href="/results" id="results-button" class="button small secondary">Results</a></li>
            <li><a href="/questionnaire/<%= next_step %>" id="skip-button" class="button small secondary">Skip</a>    </li>
            <li><button type="submit" id="next-button" class="button small radius">Next &raquo;</button></li>
        </ul>
    </div>    
</div>
<div id="progress-bar" class="row">
    <div class="small-9 medium-10 large-11 columns">
        <div class="progress round">
          <span id="progress-meter" data-percent="<%= progress %>" class="meter" style="width:<%= progress %>%;"></span>
        </div>
    </div>
    <div id="percent-complete" class="progress-label small-3 medium-2 large-1 columns"><%= progress %>% done</div>
</div>
<% if false %>
<div class="actions row">
    <div class="go-back small-6 columns">
        <% if !suppress_back_button  %>
            <a href="<%= previous_step %>" class="button small secondary radius">&laquo; Previous</a>
        <% end %>
    </div>
    <div class="next small-6 columns text-right">        
        <button type="submit" class="button small radius">Next &raquo;</button>
    </div>    
</div>
<div class="row">
    <div class="small-6 columns">
        <a href="/results" class="button small secondary radius">View Results</a>
    </div>
    <div class="small-6 columns text-right">
        <a href="/questionnaire/<%= next_step %>" id="skip-button" class="button small secondary radius">Skip</a>    
    </div>
</div>

<div class="row" style="margin-top:0.25em;">
    <div class="large-12 columns text-right">
        <a href="/results" class="button small round">View Results</a>
    </div>
</div>
<% end %>