<% if question.input_type.input_type_name == "select" %>
  <label for="question<%= question.id %>"><%= question.question_name %></label>
  <select id="question<%= question.id %>" name="answers[<%= question.id %>]">    
    <% question_options.each do |question_option| %>
      <option value="<%= question_option.id %>" <% if !@answers[question.id].nil? && question_option.option_choice.id == @answers[question.id].question_option.option_choice_id %>selected="selected"<% end %> data-risk="<%= question_option.risk_level.risk_level_identifier %>">
        <%= question_option.option_choice.option_choice_name %>
        </option>
    <% end %>
  </select>
<% elsif question.input_type.input_type_name == "radio" %>
  <fieldset>
    <legend><%= question.question_name %></legend>
    <% for question_option in @question_options[question.id] %>
      <label>
        <input type="radio" name="answers[<%= question.id %>]" value="<%= question_option.id %>" <% if !@answers[question.id].nil? && question_option.option_choice.id == @answers[question.id].question_option.option_choice_id %>checked="checked"<% end %> />
        <%=question_option.option_choice.option_choice_name %>
      </label>
    <% end %>           
  </fieldset>
<% end %>