<form method="post" action="/questionnaire/<%= @group_id %>">
  <div id="group-<%= @group_id %>" class="question">
    <div class="row">
      <div class="small-10 columns">
        <div class="breadcrumb"><%= "#{@category_name} &rsaquo; Question #{@group_id}" %></div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <% for q in @questions %>
          <%= erb :question_partial, :locals => { :question => q, :question_options => @question_options[q.id] } %>
        <% end %>
        <% if @group_id == HEIGHT_WEIGHT_GROUP_ID %>
      </div><!-- .columns -->
          <div id="risk-message" class="large-6 medium-6 columns">
            <% if !@session.bmi.nil? %>
              <% if @session.bmi < 25.0 %>
                <% risk_message = @risk_messages.first(:risk_level_id => LOWER_RISK_LEVEL_ID) %>
                <p>
                    <img src="/images/icons/<%= @category_identifier %>-<%= risk_message.risk_level.risk_level_identifier %>.png" alt="" />
                    <span class="<%= risk_message.risk_level.risk_level_identifier %>"><%= risk_message.risk_level.risk_level_name %>:</span>
                    Congratulations! Your BMI is <%= @session.bmi %>. <%= risk_message.message %> <a href="/resources/more_info">More&nbsp;information &rsaquo;</a>
                </p>
              <% else %>            
                <% risk_message = @risk_messages.first(:risk_level_id => HIGHER_RISK_LEVEL_ID) %>
                <p>
                    <img src="/images/icons/<%= @category_identifier %>-<%= risk_message.risk_level.risk_level_identifier %>.png" alt="" />
                    <span class="<%= risk_message.risk_level.risk_level_identifier %>"><%= risk_message.risk_level.risk_level_name %>:</span>
                    Your BMI is <%= @session.bmi %>. <%= risk_message.message %> <a href="/resources/risk-factors#group-<%= @group_id %>">More&nbsp;information &rsaquo;</a>
                </p>
              <% end %>
            <% end %>
          </div>
        </div><!-- .row -->
        <% end %>
    </div><!-- .question -->
  <div class="actions row">
     <div class="large-12 columns">
         <ul class="button-group">
             <li>   
                <a href="<% if @group_id == 1  %>/questionnaire/intro<% else %>/questionnaire/<%= @group_id - 1 %><% end %>" id="previous-button" class="button small secondary radius">&laquo; Previous</a>
             </li>
             <li><a href="/questionnaire/<%= @group_id < 17 ? @group_id + 1 : "results" %>" id="skip-button" class="button small secondary">Skip</a></li>
             <li><button type="submit" id="next-button" class="button small radius">Next &raquo;</button></li>
             <li class="push-right"><a href="/results" id="results-button" class="button radius small secondary">Results</a></li>
         </ul>
     </div>    
  </div>
</form>
<div id="progress-bar" class="row">
    <div class="small-9 medium-10 large-11 columns">
        <div class="progress round">
          <span id="progress-meter" data-percent="<%= @progress %>" class="meter" style="width:<%= @progress %>%;"></span>
        </div>
    </div>
    <div id="percent-complete" class="progress-label small-3 medium-2 large-1 columns"><%= @progress %>% done</div>
</div>
<script>
  var riskMessages = {
    <% for risk_message in @risk_messages %>
      "<%= risk_message.risk_level.risk_level_identifier %>": "<p>\
        <% if @group_id != RACE_GROUP_ID %><img src=\"/images/icons/<%= @category_identifier %>-<%= risk_message.risk_level.risk_level_identifier %>.png\" alt=\"\" /> <span class=\"<%= risk_message.risk_level.risk_level_identifier %>\"><%= risk_message.risk_level.risk_level_name %>:</span><% end %>\
        <%= risk_message.message %> <a href=\"/resources/risk-factors#group-<%= @group_id %>\">More&nbsp;information &rsaquo;</a></p> "<% if risk_message != @risk_messages.last %>,<% end %>      
    <% end %>
  };
</script>
