<div id="results">
    <div class="row">
        <div class="large-12 columns">
            <h2>Your Results</h2>
        </div>
        <div class="large-12 columns">
            <p>
                Each circle below represents your answer to a question. Click or tap a circle to return to that question.
            </p>
        </div>
        <div class="small-12 large-6 columns risk-infographic">
            <% @results.each do |category_id, result| %>
                <div class="risk <%= result["category_id"] %>">
                    <h3 class="risk-name"><%= result["category_name"] %></h3>
                    <div class="risk-level">
                        <% result["answers"].each do |answer| %>
                            <a href="/questionnaire/<%= answer["group_id"] %>" class="risk-question">
                                <img src="/images/icons/<%= result["category_id"] %>-<%= answer["risk"] %>.png"
                                    alt="<%= answer["question"] %>" />
                            </a>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="inset small-6 large-6 columns">
            <div class="share-buttons">
                <a href="http://facebook.com/sharer/sharer.php?text=Check out this site that helps you determine your breast cancer risk.=http://breasthealth.me"><img src="/images/facebook.png" alt="Facebook" /></a>
                <a href="http://twitter.com/share?text=Check out this site that helps you determine your breast cancer risk.&url=http://breasthealth.me"><img src="/images/twitter.png" alt="Facebook" /></a>
                <a href="mailto:?subject=My breast cancer risk results&body=Check out this site that helps you determine your breast cancer risk: http://breasthealth.me"><img src="/images/mail.png" alt="Facebook" /></a>
            </div>
            <ul id="key">
                <li><img src="/images/high-risk-key.png" alt="" /> Higher Risk</li>
                <li><img src="/images/low-risk-key.png" alt="" /> Lower Risk</li>
                <li><img src="/images/unanswered-key.png" alt="" /> Unanswered Question</li>
            </ul>
        
            <a href="/questionnaire" class="button small">Back to Questionnaire</a>
        </div>
    </div>
</div>