<div id="results">
    <div class="row">
        <div class="large-12 columns">
            <h2>Your Results</h2>
        </div>
    </div>
    <div class="row">
        <% if !@session.has_viewed_results && @session.progress == 100.0 %>
            <div class="large-7 columns end">
                <div id="results-modal" class="reveal-modal medium" data-reveal data-css-top="50%">
                    <p>
                        Congratulations on completing the questionnaire!
                        <% if @higher_risk_count < 4 %>
                            You are doing great!
                        <% elsif @higher_risk_count < 8 %>
                            You are doing pretty well.
                        <% elsif @higher_risk_count < 12 %>
                            You are doing OK.
                        <% else %>
                            You could decrease your risk in several areas.
                        <% end %>
                        You have <%= @lower_risk_count %> lower risk <img src="/images/low-risk-key.png" alt="" /> factors and
                        <%= @higher_risk_count %> higher risk <img src="/images/high-risk-key.png" alt="" /> factors.
                        <% if @lower_risk_count < TOTAL_QUESTIONS %>
                            Click <a href="/results/dismiss" class="close">See My Results</a> to see the areas you could improve on.    
                        <% end %>                        
                    </p>
                    <a href="/results/dismiss" class="button radius close">See My Results</a>
                </div>
            </div>
        <% end %>
    </div>
    <script>
        <%# only log this once, so check if they've viewed the results before %>
        <% if !@session.has_viewed_results && @session.progress == 100.0 %>
            var logQuestionnaireFinished = true;
        <% else %>
            var logQuestionnaireFinished = false;
        <% end %>
    </script>
    <div class="row">
        <div class="large-7 columns end">
            <p>
                Each circle below represents your answer to a question. Click or tap a circle to return to that question.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 large-6 columns risk-infographic">
            <% @results.each do |category_id, result| %>
                <div class="risk <%= result["category_id"] %>">
                    <h3 class="risk-name"><%= result["category_name"] %></h3>
                    <div class="risk-level">
                        <% result["answers"].each do |answer| %>
                            <a href="/questionnaire/<%= answer["group_id"] %>" class="risk-question">
                                <img src="/images/icons/<%= result["category_id"] %>-<%= answer["risk"] %>.png"
                                    alt="<%= answer["question"] %>" />
                            </a>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="inset small-12 medium-6 large-6 columns">
            <ul id="key">
                <li><img src="/images/high-risk-key.png" alt="" /> Higher Risk</li>
                <li><img src="/images/low-risk-key.png" alt="" /> Lower Risk</li>
                <li><img src="/images/unanswered-key.png" alt="" /> Unanswered</li>
            </ul>        
            <a href="/questionnaire" class="button small radius">Back to Questionnaire</a>
            <%= erb :share_buttons_partial, :locals => {
                :share_subject => "MyBCRisk.org: Find your breast cancer risk",
                :share_body => "Young women can be at risk for breast cancer just like older women; know your risk by taking this test!" } %>
        </div>
    </div>
</div>