<div class="row">
    <div class="large-12 columns">
      <h2>Stats</h2>
      <p>
        Visits since Oct. 1st: <%= @sessions.size %><br />
        <!--Sessions with 0% progress on questionnaire: <%= @no_progress_count %>-->
        Questionnaires completed: <%= @completed_count %><br />
        Questionnaires started: <%= @sessions.size - @no_progress_count - @completed_count %> <br />
        Low risk answers: <%= sprintf("%.2f%%", 100 * @lower_risk_average) %><br />
        High risk answers: <%= sprintf("%.2f%%", 100 * @higher_risk_average) %>
      </p>
      <p>
        The following are the number of higher risk answers per question in descending order: <br />
        <% @higher_risk_answers.each do |higher_risk_answer| %>
          <%= higher_risk_answer[0] %>: <%= higher_risk_answer[1] %><br />
          
        <% end %>
      </p>
    </div>
</div>