<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 1</h2>
            <label for="age">How old are you?</label>
        </div>
        <div class="large-4 columns end">
            <% if !params[:alt_age] %>
                <select name="age" id="age">
                    <option value="">Age</option>
                    <% for age in 18..99 %>
                        <option value="<%= age %>" <% if @session.age == age %> selected="selected" <% end %>><%= age %></option>
                    <% end %>
                </select>
            <% else %>
                <select name="age" id="age">
                    <option value="">Age</option>
                    <% ["20s", "30s", "40s", "50s", "60s", "70s", "80s", "90s", "100+"].each do |age| %>
                        <option value="<%= age %>" <% if @session.age == age %> selected="selected" <% end %>><%= age %></option>
                    <% end %>
                </select>                                
            <% end %>
        </div>
    </div><!-- .question -->
    <div class="row">
        <%
            high_risk_message = "High risk message"
            low_risk_message = "Low risk message"
        %>
        <!--<div id="risk-message" class="small-12 columns">
            <% if @session.age > 45 %>
                <%= high_risk_message %>
            <% else %>
                <%= low_risk_message %>
            <% end %>
        </div>-->
    </div>
    <script>
        var riskMessage = {
            "high-risk": "<%= high_risk_message %>",
            "low-risk": "<%= low_risk_message %>"
        }
    </script>    
    <input type="hidden" name="next_question" value="race_ethnicity" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => true, :progress => @progress, :next_step => "race_ethnicity" } %>
</form>
