<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2><img src="/images/icons/health-history-lower-risk.png" alt="" width="32" /> Health History &rsaquo; Question 1</h2>
            <label for="age">How old are you?</label>
        </div>
        <div class="large-4 columns end">
            <% if !params[:alt_age] %>
                <select name="age" id="age">
                    <option value="" data-risk="unknown">Age</option>
                    <% for age in 18..99 %>
                        <option <% if age < 45 %>data-risk="lower"<% else %>data-risk="higher"<% end %> value="<%= age %>" <% if @session.age == age %> selected="selected" <% end %>><%= age %></option>
                    <% end %>
                </select>
            <% else %>
                <select name="age" id="age">
                    <option value="">Age</option>
                    <% ["20s", "30s", "40s", "50s", "60s", "70s", "80s", "90s", "100+"].each do |age| %>
                        <option value="<%= age %>" <% if @session.age == age %> selected="selected" <% end %>><%= age %></option>
                    <% end %>
                </select>                                
            <% end %>
        </div>
    </div><!-- .question -->
    <%
        high_risk_message = 'Women over 45 are at a higher risk for breast cancer. The median age for breast cancer is 62. <a href="/resources/more_info">More information &rsaquo;</a>'
        low_risk_message = 'Although women over 45 are at a higher risk for breast cancer, there is still a risk for women of all ages. The median age for breast cancer is 62. <a href="/resources/more_info">More information &rsaquo;</a>'
    %>
    <%= erb :risk_messaging, :locals => { :high_risk_message => high_risk_message, :low_risk_message => low_risk_message, :answered => { |q| !q.nil? }, :q => @session.age} %>
    <div class="row">

        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.age.nil? %>
                <% if @session.age < 45 %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                        <!--<img src="/images/icons/health-history-lower-risk.png" alt="Lower risk: " />-->
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": '<p><span class="higher-risk">Higher risk:</span> <%= high_risk_message %></p>',
            "lowerRisk": '<p><span class="lower-risk">Lower risk:</span> <%= low_risk_message %></p>'
        }
    </script>    
    <input type="hidden" name="next_question" value="race_ethnicity" />
    <div class="no-previous">
        <%= erb :actions_and_progress, :locals => { :suppress_back_button => true, :progress => @progress, :next_step => "race_ethnicity" } %>
    </div>
</form>
