<form action="" method="post" id="bmi-questions">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 6</h2>
        </div>
        <div class="large-6 columns">
            <label for="height">How tall are you (in feet and inches)?</label>
        </div>
        <div class="large-6 columns">
            <select id="height" name="height" class="custom-messaging">
                <option value="">Height</option>
                <% for feet in 3..7 %>
                  <% for inches in 0..11 %>
                    <% value = feet * 12 + inches %>
                    <% if(inches == 0) %>
                      <option value="<%=value%>" <% if @session.height == value %> selected="selected" <% end %> ><%="#{feet}&#039;"%></option>
                    <% else %>
                      <option value="<%=value%>" <% if @session.height == value %> selected="selected" <% end %>><%="#{feet}&#039; #{inches}&#34;"%></option>
                    <% end %>
                  <% end %>
                <% end %>                
            </select>
        </div>
    </div>
    <div class="question row">
        <div class="large-6 columns">
            <label for="weight">How much do you weigh (in pounds)?</label>
        </div>        
        <div class="large-6 columns">
            <select id="weight" name="weight" class="custom-messaging">
                <option value="">Weight</option>
                <!--<option value="">Less than 90</option>-->
                <% for weight in 90..300 %>
                  <option value="<%=weight%>" <% if @session.weight == weight %> selected="selected" <% end %>><%=weight%></option>
                <% end %>
                <!--<option value="300+">300+</option>-->
            </select>
        </div>        
    </div>
    <div class="row">
        <%
            high_risk_message = 'A BMI over 25 is overweight and over 29.9 is obese. Obesity has been linked to increased risk for breast cancer. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
            low_risk_message = 'Good! A BMI between 18.5 and 24.9 is considered normal. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.bmi.nil? %>
                <% if @session.bmi < 25 %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>     
    <input type="hidden" name="next_question" value="diet_habits" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "diet_habits", :previous_step => "relatives" } %>
</form>