<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 9</h2>
            <fieldset>
                <legend>Do you regularly eat charred meat?</legend>
                <label><input type="radio" name="charred_meat" data-risk="higher" value="Yes" <% if @session.charred_meat == "Yes" %> checked="checked" <% end %>> Yes</label>
                <label><input type="radio" name="charred_meat" data-risk="lower" value="No"<% if @session.charred_meat == "No" %> checked="checked" <% end %>> No</label> 
            </fieldset>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = 'Eating char grilled food exposes you to dangerous chemicals called PAHs (polycyclic aromatic hydrocarbons) that have been linked to increased risk for breast cancer. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
            low_risk_message = 'Good! Char grilled food contains dangerous chemicals called PAHs (polycyclic aromatic hydrocarbons) that have been linked to increased risk for breast cancer. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.charred_meat.nil? %>
                <% if @session.charred_meat == "No" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>   
    <input type="hidden" name="next_question" value="alcohol" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "alcohol", :previous_step => "fresh_or_frozen" } %>
</form>