<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 3</h2>
            <fieldset>
                <legend>How old were you when your first child was born?</legend>
                <label><input type="radio" name="first_child" value="No children" data-risk="higher" id="children-1" <% if @session.first_child == "No children" %> checked="checked" <% end %>> I have no children</label>
                <label><input type="radio" name="first_child" value="Younger than 35" data-risk="lower" id="children-2" <% if @session.first_child == "Younger than 35" %> checked="checked" <% end %>> Younger than 35</label>
                <label><input type="radio" name="first_child" value="35 or older" data-risk="higher" id="children-3" <% if @session.first_child == "35 or older" %> checked="checked" <% end %>> 35 or older</label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = 'Regardless of your height and weight, eating a diet high in fruits and vegetables (5 servings of each per day) has been shown to be protective against developing breast cancer. Find out <a href=\"/resources/more_info\">more information on breast cancer risk and diet</a>.'
            low_risk_message = 'Good! Eating a diet high in fruits and vegetables (5 servings of each per day) has been shown to be protective against developing breast cancer.'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.first_child.nil? %>
                <% if @session.first_child == "Younger than 35" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>         
    <input type="hidden" name="next_question" value="breast_feeding_months" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "breast_feeding_months", :previous_step => "race_ethnicity" } %>
</form>