<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 12</h2>
            <fieldset>
                <legend>Do you most often use personal care products like cosmetics with or without fragrances?</legend>
                <label><input type="radio" name="fragrances" data-risk="higher" value="With fragrances" <% if @session.fragrances == "With fragrances" %> checked="checked" <% end %>> With fragrances</label>
                <label><input type="radio" name="fragrances" data-risk="lower" value="Without fragrances" <% if @session.fragrances == "Without fragrances" %> checked="checked" <% end %>> Without fragrances</label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = 'Phthalates (pronounced tha-lates) are chemicals found in some personal care products like fragrances, nail polish and hair care products. Find out <a href=\"/resources/more_info\">more information on breast cancer risk and environmental exposures</a>.'
            low_risk_message = 'Good! Phthalates (pronounced tha-lates) are chemicals found in some personal care products like fragrances, nail polish and hair care products.'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.fragrances.nil? %>
                <% if @session.fragrances == "Without fragrances" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>       
    <input type="hidden" name="next_question" value="plastic_or_glass" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "plastic_or_glass", :previous_step => "days_of_exercise" } %>
</form>