<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 8</h2>
            <fieldset>
                <legend>Do you most often eat fresh/frozen foods or canned?</legend>
                <label><input type="radio" name="fresh_or_frozen" data-risk="lower" value="Fresh/frozen foods" <% if @session.fresh_or_frozen == "Fresh/frozen foods" %> checked="checked" <% end %>> Fresh/frozen foods</label>
                <label><input type="radio" name="fresh_or_frozen" data-risk="higher" value="Canned" <% if @session.fresh_or_frozen == "Canned" %> checked="checked" <% end %>> Canned</label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = 'Fresh and frozen foods are healthier alternatives to canned foods. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
            low_risk_message = 'Good! Fresh and frozen foods are healthier alternatives to canned foods. <a href=\"/resources/more_info\">More information &rsaquo;</a>'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.fresh_or_frozen.nil? %>
                <% if @session.fresh_or_frozen == "Fresh/frozen foods" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>  
    <input type="hidden" name="next_question" value="charred_meat" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "charred_meat", :previous_step => "diet_habits" } %>
</form>