<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 16</h2>
            <fieldset>
                <legend>Have you talked with your personal care physician about your breast health?</legend>
                <label><input type="radio" name="talked_to_physician" data-risk="lower" value="Yes" <% if @session.talked_to_physician == "Yes" %> checked="checked" <% end %>> Yes</label>
                <label><input type="radio" name="talked_to_physician" data-risk="higher" value="No" <% if @session.talked_to_physician == "No" %> checked="checked" <% end %>> No</label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <%
            low_risk_message = 'With your physician, discuss your family history, annual exams and the age to start mammograms.'
            high_risk_message = 'With your physician, discuss your family history, annual exams and the age to start mammograms.'
        %>
        
            <div id="risk-message" class="small-12 columns">
            
            <% if !@session.talked_to_physician.nil? %>
                <% if @session.talked_to_physician == "Yes" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>

            </div>
    </div>
    <script>
        var riskMessage = {
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>",
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>" 
        }
    </script>            
    <input type="hidden" name="next_question" value="breast_exams" />
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "breast_exams", :previous_step => "look_and_feel" } %>
</form>