<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <h2>Question 7</h2>
            <label for="weight">How much do you weigh (in pounds)?</label>
        </div>
        
        <div class="large-4 columns end">
            <select id="weight" name="weight">
                <option value="">Weight</option>
                <!--<option value="">Less than 90</option>-->
                <% for weight in 90..300 %>
                  <option value="<%=weight%>" <% if @session.weight == weight %> selected="selected" <% end %>><%=weight%></option>
                <% end %>
                <!--<option value="300+">300+</option>-->
            </select>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = 'Regardless of your height and weight, eating a diet high in fruits and vegetables (5 servings of each per day) has been shown to be protective against developing breast cancer. Find out <a href=\"/resources/more_info\">more information on breast cancer risk and diet</a>.'
            low_risk_message = 'Good! Eating a diet high in fruits and vegetables (5 servings of each per day) has been shown to be protective against developing breast cancer.'
        %>
        
            <div id="risk-message" class="small-12 columns">
            <% if !@session.first_child.nil? %>
                <% if @session.first_child == "Younger than 35" %>
                    <p>
                        <span class="lower-risk">Lower risk:</span> <%= low_risk_message %>
                    </p>
                <% else %>
                    <p>
                        <span class="higher-risk">Higher risk:</span> <%= high_risk_message %>
                    </p>
                <% end %>
            <% end %>
            </div>
    </div>
    <script>
        var riskMessage = {
            "higherRisk": "<p><span class=\"higher-risk\">Higher risk:</span> <%= high_risk_message %></p>",
            "lowerRisk": "<p><span class=\"lower-risk\">Lower risk:</span> <%= low_risk_message %></p>"
        }
    </script>    
    <input type="hidden" name="next_question" value="diet_habits" />
    <script>
      //TODO: put user's height here from previous question, then calculate on the fly on dropdown change
      var height = 0;
    </script>
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "diet_habits", :previous_step => "height" } %>
</form>