<form action="" method="post">
    <div class="question row">
        <div class="large-12 columns">
            <label for="weight" class="inline">How much do you weigh (in pounds)?</label>
        </div>
        
        <div class="large-4 columns end">
            <select id="weight" name="weight">
                <option value=""></option>
                <!--<option value="">Less than 90</option>-->
                <% for weight in 90..300 %>
                  <option value="<%=weight%>" <% if @session.weight == weight %> selected="selected" <% end %>><%=weight%></option>
                <% end %>
                <!--<option value="300+">300+</option>-->
            </select>
        </div>
    </div>
    <div class="row">
        <%
            high_risk_message = "High risk message"
            low_risk_message = "Low risk message"
        %>
        <!--<div id="risk-message" class="small-12 columns">
            <% if @session.age > 45 %>
                <%= high_risk_message %>
            <% else %>
                <%= low_risk_message %>
            <% end %>
        </div>-->
    </div>
    <script>
        var riskMessage = {
            "high-risk": "<%= high_risk_message %>",
            "low-risk": "<%= low_risk_message %>"
        }
    </script>     
    <input type="hidden" name="next_question" value="diet_habits" />
    <script>
      //TODO: put user's height here from previous question, then calculate on the fly on dropdown change
      var height = 0;
    </script>
    <%= erb :actions_and_progress, :locals => { :suppress_back_button => false, :progress => @progress, :next_step => "diet_habits", :previous_step => "height" } %>
</form>